*{  box-sizing: border-box;}
.di-wi{
    position:fixed;
    bottom:5%;
    left:15%;
    right: 15%;
    height: 30vh;
    border: 3px solid #946262;
    background: linear-gradient(135deg, #682020 );
    border-radius: 15px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7),  inset 0px 0px 15px 0px rgba(212, 175, 55, 0.3);
    display: flex;
    align-items: center;
    padding: 20px;
    gap:25px;
    transition:transform 0.2s ;
}
.di-wi:hover{
    transform: translateY(-5px);
    border-color: #973939;
}

.face{
  
    width: 100px;
    height: 100px;
    border: 2px solid #2a240e;
    background-color: #2b0000;
    border-radius: 8px;
}

.di-text{
    color:#f5e6d3;
    text-align: left;
    height: 100%;
    font-family: Georgia, serif;
    font-size: 1rem ;
    width: 100px;
    padding-right:10px ;
    flex-grow: 1;
    overflow-y: auto;
    line-height: 1.1;
}
.di-text::-webkit-scrollbar {
     width: 5px;
     }


.allback{
    position:relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.back{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.option{
    width: 60%;
    min-height: 50px;
    padding: 15px;
    background: rgba(143, 63, 63, 0.85);
    border: 2px solid rgb(100, 25, 25);
    border-radius: 10px;
    color: #f5e6d3;
    font-size: 1.1rem;
    cursor:pointer;
    transition: all 0.3s;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 100);
   
}
.option:hover{
    background: #92122b;
    color:peachpuff;
    transform:scale(1.005)
}
.optional{
 display: flex;
 gap:50px;
 align-items: center;
 flex-direction: column; 
 margin-top: 10%;
}
.option-none{
    display:none;
}